#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
SUBSTVARS=-Vuserland:Depends="rpi$(RPI_MODEL)-userland (=$(KERNEL_VERSION))" -Vdist:Depends="rpi$(RPI_MODEL)-bootloader (=$(KERNEL_VERSION)), rpi$(RPI_MODEL)-userland (=$(KERNEL_VERSION)), linux-image-$(RELEASE) (=$(VERSION)), linux-libc-dev (>=$(VERSION))"
%:
	dh $@
override_dh_shlibdeps:
override_dh_gencontrol:
	$(eval RELEASE=$(shell cat "linux/include/config/kernel.release"))
	$(eval REVISION=$(shell cat linux/.version))
	$(eval VERSION=$(RELEASE)-$(REVISION))
	$(eval KERNEL_VERSION=$(shell make -C linux/ kernelversion | grep -v "make"))
	dh_gencontrol -- $(SUBSTVARS)
